<div id="<%= dom_id film %>">

<div class="title-and-box">
  <%= film.viewed %>


<div class="title-description">
  <section class="base">
  <h2> 
    <%= film.title %>
  </h2>

  <h2>  
    <%= film.director %>
  </h2>

  <h2>  
    <%= film.year %>
  </h2>

  </section>

  <p>
    <strong></strong>
    <%= film.review %>
  </p>
</div>
</div>
  <p>
    <strong></strong>
    <img class="cut" src="<%= film.poster %>"> 
    
  </p>

</div>

