<div id="<%= dom_id film %>">

<div class="title-and-box">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
  </label>
</div>


<div class="title-description">
  <section class="base">
  <h2> 
    <%= film.title %>
  </h2>

  <h2>  
    <%= film.director %>
  </h2>

  <h2>  
    <%= film.year %>
  </h2>

  </section>

  <p>
    <strong></strong>
    <%= film.review %>
  </p>
</div>
</div>
  <p>
    <strong></strong>
    <%= film.poster %>
  </p>

</div>

