<div id="<%= dom_id film %>">

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
  <p>
  <strong></strong>
  <%= film.viewed %>
</p>
  </label>
</div>

  <section class="base">
  <p> 
    <%= film.title %>
  </p>

  <p>  
    <strong></strong>
    <%= film.director %>
  </p>

  <p>  
    <strong></strong>
    <%= film.year %>
  </p>
  </section>

  <p>
    <strong></strong>
    <%= film.review %>
  </p>

  <p>
    <strong></strong>
    <%= film.poster %>
  </p>

</div>

